- if movies.empty?
  %p No results found :(
- else
  - movies.each_slice(5) do |movies_chunk|
    .row.g-2.pb-3
      - movies_chunk.each do |movie|
        .col
          .card.shadow-sm{style: "height: 100%"}
            = image_tag poster_url_for(movie), class: "card-img-top shadow-sm"
            .card-body
              %h5.card-text= movie.title
              .d-flex.justify-content-between.align-items-center.mb-2
                = button_to "View", movies_show_path, params: {movie: movie.to_json}, method: :post, class:"btn btn-sm btn-outline-secondary"
                %small.text-body-secondary
                  %span.d-inline-block{'data-bs-toggle': "tooltip", title: "Popularity"}
                    =movie.popularity
              %p.card-text.overflow-hidden= movie.overview.truncate(150)

- if total_pages > 1 || ENV['ALWAYS_SHOW_PAGINATION']
  = render 'pagination', total_pages: total_pages
