= form_tag(movies_search_path) do
  .d-flex.gap-2.justify-content-center.py-3.col-lg-6.mx-auto
    = text_field_tag :query_string, params["query_string"], class: "form-control d-inline-flex align-items-center"
    = submit_tag "Search", class: "btn btn-primary d-inline-flex align-items-center"

- unless @cache_hit_count.nil?
  = render 'cache_hit_notification', cache_hit_count: @cache_hit_count

- unless @movies.nil?
  = render 'movies', movies: @movies